<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title>Sneakers Dashboard</title>
</head>

<body>
<top style="margin-top: 20px;">
<!-- title -->
<a href="http://localhost:3000/logout" 
  style="float: right; color: red;margin-top: 10px; text-decoration: none; text-transform: uppercase;">
  Logout
</a>

<div class="title">

  <h1 class="proname">
    <span class="nom" 
    style="color: red;">
    <%= name %>
    </span> 
    Sneaker profile
  </h1>
</div>
<!-- profile -->
<div class="profile">
<!-- link to profile upload -->
<!-- <button class="bruton bruton bruton-open">Open Modal</button> -->
<!-- profile picture -->
<% if (typeof avatar !=='undefined' && avatar) { %>
<img class="bruton bruton-open" src="/uploads/<%= avatar %>" alt="Avatar" width="200px" height="200px" style="
         border-radius: 50%;margin-top: 0px;margin-bottom: 0px;overflow: hidden;" />
<% } else { %>
<img class="bruton bruton-open" src="/images/Image.jpg" alt="Avatar" style="border-radius: 50%;margin-top: 40px;margin-bottom: 0px;overflow: hidden;" width="200px" height="200px" />
<% } %>
</a>
<div class="adds">
  <div class="followers">
    <% let counter = 0; %>
    <p class="posts" style="    margin-top: 0px;
    margin-bottom: 10px;">posts
      <span class="number" style="color: red;" id="post-count"><%= images.length %></span>
    </p>
    <p class="follow" style="    margin-top: 0;
    margin-bottom: 10px;">followers
      <span class="number" style="color: red;" id="following-count">0</span>
    </p>
    <p class="followed" style="    margin-top: 0;
    margin-bottom: 10px;" >followed
      <span class="number" style="color: red;">0</span>
    </p>
  </div>
  <div class="btn-activities">
    <button class="dm"><a style="color: whitesmoke;text-decoration: none;" href="http://localhost:3000/message/">message</a></button>
    <button class="following">follow</button>
    <button class="btn-activities"><a style="color: whitesmoke;text-decoration: none;" href="http://localhost:3000/slides/<%= name %>"> post img</a></button>
  </div>
</div>
</div>
<!-- hotdrop section -->
<div class="hotdropTitle">
<!-- hotdrop subtitle -->
<div class="hotdrop" >
<h2 class="drop" style="margin-left: 30px;">THE <span class="nom" style="color: red; margin-top: -170px;">HOT</span> DROP</h2>
</div>
</div>
<div class="bar">
  <div class="red">
    <hr style="margin-top: 5px;">
  </div>
</div>

<div class="hotdropGallery">
  
<div class="container">

<% if (slides && slides.length > 0) { %>
  <% for (let i = 0; i < slides.length; i++) { %>
    <div class="slide" id="slide<%= i+1 %>" style="background-image: url('/uploads/<%= slides[i].url %>');">
    </div>
  <% } %>
<% } else { %>
  <div class="gallery-item hidden"></div>
<% } %>

</div>
<div class="bar">
  <div class="red">
    <hr style="margin-top: 50px;">
  </div>
</div>
<h2 class="collection"><span class="nom" style="color: red;">
  <%= name %>
</span> collection showcase</h2>
<!-- feed one  -->
<div class="feed" style="margin-left: 150px;">
  <div class="pictureFeed" style=" margin-right: 40px;">
    <div class="galleryBox">
      <div class="yellow">
        <% if (images && images.length > 0) { %>
          <% for (let i = 0; i < images.length; i++) { %>
            <div class="gallery-item">
              <div class="image-container">
                <img class="gallery-image" src="/uploads/<%= images[i].url %>" alt="Image <%= i+1 %>">
                <br>
                <h3 class="image-title">
                  <% const words = images[i].shoe_name.trim().split(' '); %>
                  <% const firstWord = words.shift(); %>
                  <% const restOfWords = words.join(' '); %>
                  <span class="first-word"><%= firstWord %></span>
                  <br>
                  <span class="rest-of-words"><%= restOfWords %></span>
                </h3>                
              </div>
            </div>
            <% counter++; %>
          <% } %>
        <% } else { %>
          <div class="gallery-image hidden"></div>
        <% } %>
      </div>
    </div>
  </div>
</div>
</div>
<!-- modal avatar -->
<section class="modale hide">
    <div class="flexe">
        <h3 class="proname"><span class="nom" style="color: red;"><%= name %></span> profile picture </h3>
        <button class="bruton-close">X</button>
    </div>
        <form action="/dashbord/<%= _id %>" method="POST" enctype="multipart/form-data" style="text-align: center; margin-top: 20px;">
          <!-- avatar -->
        <div>
          <label for="avatar-input"><h4 style="color: red;">Select profile picture</h4></label>
          <br>
          <br>
          <input type="file" id="avatar-input" name="avatar"
          onchange="document.getElementById('avatar-preview').src = window.URL.createObjectURL(this.files[0])"
          accept=".jpg, .jpeg, .png" />
            <button type="submit" name="submit" value="Add Image">update profile</button>
            <br>
            <br>
            <hr>
            <div class="preview">
                <img id="avatar-preview" src="/images/Image-bgoff.png" style="height: 250px; width: 250px;"/>
            </div>
                
        </div>
</form>
</section>
<div class="overlay hide"></div>
<section class="modale hide">
    <div class="flexe">
        <h3 class="proname"><span class="nom" style="color: red;"><%= name %></span> profile picture </h3>
        <button class="bruton-close">X</button>
    </div>
        <form action="/dashbord/<%= _id %>" method="POST" enctype="multipart/form-data" style="text-align: center; margin-top: 20px;">
          <!-- avatar -->
        <div>
          <label for="avatar-input"><h4 style="color: red;">Select profile picture</h4></label>
          <br>
          <br>
          <input type="file" id="avatar-input" name="avatar"
          onchange="document.getElementById('avatar-preview').src = window.URL.createObjectURL(this.files[0])"
          accept=".jpg, .jpeg, .png" />
            <button type="submit" name="submit" value="Add Image">update profile</button>
            <br>
            <br>
            <hr>
            <div class="preview">
                <img id="avatar-preview" src="/images/Image-bgoff.png" style="height: 250px; width: 250px;"/>
            </div>
                
        </div>
</form>
</section>
<div class="overlay hide"></div>
</top>
</body>
</html>
<script>
  // Initialize the slider
  function sliderPluggin(activeslide = 0) {
    const slides = document.querySelectorAll('.slide');
    slides[activeslide].classList.add('active');
    function clearActiveClasses() {
      slides.forEach((slide) => {
        slide.classList.remove('active');
      });
    }
    for (const slide of slides) {
      slide.addEventListener('click', () => {
        clearActiveClasses();
        slide.classList.add('active');
      });
    }
  }
  sliderPluggin(0);

  // Initialize the counter for post
  // Get the element by its ID
  const postCount = document.getElementById("post-count");
  // Initialize the counter with the current post count
  let counter = parseInt(postCount.textContent);
  
  // Get the follow button element
  const followBtn = document.querySelector(".following");
  // Get the followers count element
  const count = document.querySelector("#following-count");
  // Initialize the clicked state to false
  let clicked = false;
  
  // Add event listener for the follow button
  followBtn.addEventListener("click", () => {
    // If the button is clicked for the first time
    if (!clicked) {
      clicked = true;
      count.textContent++; // Increment the followers count
    } else {
      // If the button is clicked again
      clicked = false;
      count.textContent--; // Decrement the followers count
    }
  })
  const modal = document.querySelector(".modale");
  const overlay = document.querySelector(".overlay");
  const openModalbruton = document.querySelector(".bruton-open");
  const closeModalbruton = document.querySelector(".bruton-close");

// close modal function
  const closeModal = function () {
  modal.classList.add("hide");
  overlay.classList.add("hide");
};

// close the modal when the close button and overlay is clicked
closeModalbruton.addEventListener("click", closeModal);
overlay.addEventListener("click", closeModal);

// close modal when the Esc key is pressed
document.addEventListener("keydown", function (e) {
  if (e.key === "Escape" && !modal.classList.contains("hide")) {
    closeModal();
  }
});

// open modal function
const openModal = function () {
  modal.classList.remove("hide");
  overlay.classList.remove("hide");
};
// open modal event
openModalbruton.addEventListener("click", openModal);
</script>
<style>
  @import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

  body {
    background: black;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
  }

  h1,
  h2,
  h3 {
    color: whitesmoke;
  }
  .profile {
    display: flex;
    height: 217px;
    align-items: flex-end;
    flex-direction: row-reverse;
    justify-content: flex-start;
  }
  .adds{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  .followers{
    display: flex;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 7px;
    flex-direction: column;
  }
  .container {
    width: 100%;
    display: flex;
  }
  .hidden {
    display: none;
  }
  .slide {
    height: 50vh;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    color: #fff;
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 500ms ease-in-out;
  }
  .slide h3 {
    position: absolute;
    font-size: 20px;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    color: whitesmoke;
  }
  .slide.active {
    flex: 10;
  }
  .slide.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
  }
  button {
    border-radius: 20px;
    border: 1px solid whitesmoke;
    background-color: black;
    color: #FFFFFF;
    font-size: 12px;
    /* font-weight: bold; */
    padding: 0px 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
    margin: 10px;
    font-weight: 600;
  }
  .btn-activities {
    display: flex;
    flex-direction: column-reverse;
    margin: 10px;
  }
  /* feed */
  .feed {
    margin: 0px;
    padding: 0px;
  }
  .gallery-item {
     display: flex;
     flex-direction: row-reverse;
    flex: wrap;
    justify-content: center;
  }
  .yellow{
    margin: 0px;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 65px;
    width: 1000px;
    margin-left: 0px;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-content: space-around;
    align-items: center;
  }
  .gallery-image {
    width: 275px;
    height: 300px;
    object-fit: cover;
    border-radius: 5%;
    margin: 10px;
    padding: 0px 10px;
    border-radius: 35px 35px 35px 35px;
    -webkit-border-radius: 35px 35px 35px 35px;
    -moz-border-radius: 35px 35px 35px 35px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: black;
  }
  .gallery-image:hover {
    transform: scale(1.1);
  }
  .image-container {
  position: relative;
}
.image-container img{
  display: block;
  max-width: 100%;
  height: auto;
}
.image-title{
    text-align: center;
    color: red;
    letter-spacing: 0px;
    font-size: 15px;

}
.delete-btn::after {
  content: "...";
  font-size: 75px;
  position: absolute;
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%);
  color: red;
  opacity: 0;
  transition: opacity 0.0.1s ease-in-out;
}
.delete-btn:hover::after {
  opacity: 1;
  cursor: pointer;
}

/* modal */
.bruton {
  cursor: pointer;
}

.modale {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 650px;
    height: 600px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    z-index: 2;
    top: 10%;
    left: 30%;
    background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );;
    border: 1px solid #ddd;
    border-radius: 15px;
} 

 .flexe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.modale input {
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9em;
}

.modale p {
  font-size: 0.9rem;
  color: #777;
  margin: 0.4rem 0 0.2rem;
}

.bruton-close {
    background: transparent;

}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.hide {
  display: none;
}
</style>