<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title>Sneakers Dashboard</title>
</head>

<body>
<top>
<!-- title -->
<div class="title" style="margin-top: 40px;">
<h1 class="proname"><span class="nom" style="color: red;">
  <%= name %>
</span> 's Sneaker profile</h1>
</div>
<!-- profile -->
<div class="profile">

<!-- link to profile upload -->
<a href="http://localhost:3000/avatar/<%= name %>">
<!-- profile picture -->
<% if (typeof avatar !=='undefined' && avatar) { %>
<img src="/uploads/<%= avatar %>" alt="Avatar" width="200px" height="200px" style="
         border-radius: 50%;margin-top: 40px;margin-bottom: 0px;overflow: hidden;" />
<% } else { %>
<img src="/images/Image.jpg" alt="Avatar" style="border-radius: 50%;margin-top: 40px;margin-bottom: 0px;overflow: hidden;" width="200px" height="200px" />
<% } %>
</a>
<div class="adds" style="display: flex;align-items:stretch;flex-direction:column;">
<div class="followers">
  <% let counter = 0; %>
<p class="posts">posts
  <span class="number" style="color: red;" id="post-count"><%= counter %></span>
</p>
<p class="follow">followers
<span class="number" style="color: red;" id="following-count">0</span>
</p>
<p class="followed">followed
<span class="number" style="color: red;">0</span>
</p>
</div>
<div class="btn-activities" >
<button class="dm">message</button>
<button class="following">follow</button>
<button class="btn-activities" ><a style="color: whitesmoke;text-decoration: none;" href="http://localhost:3000/slides/<%= name %>"> post</a></button>
</div>
</div>
</div>
<!-- hotdrop section -->
<div class="hotdropTitle">
<!-- hotdrop subtitle -->
<div class="hotdrop" >
<h2 class="drop" style="margin-left: 30px;">THE <span class="nom" style="color: red; margin-top: -170px;">HOT</span> DROP</h2>
</div>
</div>

<div class="hotdropGallery">
  
<div class="container">

<% if (slides && slides.length > 0) { %>
  <% for (let i = 0; i < slides.length; i++) { %>
    <div class="slide" id="slide<%= i+1 %>" style="background-image: url('/uploads/<%= slides[i] %>');">
    </div>
  <% } %>
<% } else { %>
  <div class="gallery-item hidden"></div>
<% } %>

</div>

<!-- feed one  -->
<div class="feed" style="margin-left: 150px;">
  <div class="pictureFeed" style=" margin-right: 40px;">
    <div class="galleryBox">
      <div class="yellow">
        <% if (images && images.length > 0) { %>
          <% for (let i = 0; i < images.length; i++) { %>
            <div class="gallery-item">
              <div class="image-container">
                <img class="gallery-image" src="/uploads/<%= images[i].url %>" alt="Image <%= i+1 %>">
                <br>
                <h3 class="image-title" style="text-align: center;color: red">Image <%= i+1 %></h3>
              </div>
            </div>
            <% counter++; %>
          <% } %>
        <% } else { %>
          <div class="gallery-image hidden"></div>
        <% } %>
      </div>
    </div>
  </div>
</div>
</div>
</top>
</body>
</html>
<script>
  // Initialize the slider
  function sliderPluggin(activeslide = 0) {
    const slides = document.querySelectorAll('.slide');
    slides[activeslide].classList.add('active');
    function clearActiveClasses() {
      slides.forEach((slide) => {
        slide.classList.remove('active');
      });
    }
    for (const slide of slides) {
      slide.addEventListener('click', () => {
        clearActiveClasses();
        slide.classList.add('active');
      });
    }
  }
  sliderPluggin(0);

  // Initialize the counter for follower
  // button follow
  const followBtn = document.querySelector(".following")
  // count followers
  const count = document.querySelector("#following-count")
  // button clicked
  let clicked = false;
  followBtn.addEventListener("click", () => {
    if (!clicked) {
      clicked = true;
      count.textContent++;
    } else {
      clicked = false;
      count.textContent--;
    }
  });

  // Initialize the counter for post
  // Get the element by its ID
  const postCount = document.getElementById("post-count");
  // Update the text content with the counter value
  postCount.textContent = '<%= counter %>';
// initialize the hyperlink
document.querySelectorAll(".image-link").forEach(function(link) {
  link.addEventListener('click', function(event) {
    event.stopPropagation(); // prevent the click event from bubbling up to the parent element
  });
});
// delete the image
// const deleteButtons = document.querySelectorAll(".delete-btn");
// deleteButtons.forEach((btn) => {
//   btn.addEventListener("click", (event) => {
//     event.preventDefault();
//     const imageIndex = btn.dataset.index;
//     fetch(`/dashbord/images/${imageIndex}`, { method: "DELETE" })
//       .then((response) => {
//         if (!response.ok) {
//           throw new Error(`HTTP error ${response.status}`);
//         }
//         return response.json();
//       })
//       .then((data) => {
//         // Refresh the page to reflect the updated images array
//         location.reload();
//       })
//       .catch((error) => {
//         console.error(error);
//         // Display an error message to the user
//       });
//   });
// });
</script>
<style>
  @import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

  body {
    background: black;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
  }

  h1,
  h2,
  h3 {
    color: whitesmoke;
  }
  .profile {
    display: flex;
    flex-direction: row-reverse;
    height: 200px;
    align-items: flex-end;
  }
  .followers{
    display: flex;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 7px;
    flex-direction: column;
  }

  .container {
    width: 100%;
    display: flex;
  }

  .hidden {
    display: none;
  }

  .slide {
    height: 50vh;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    color: #fff;
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 500ms ease-in-out;
  }

  .slide h3 {
    position: absolute;
    font-size: 20px;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    color: whitesmoke;
  }

  .slide.active {
    flex: 10;
  }

  @media screen {}

  .slide.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
  }

  button {
    border-radius: 20px;
    border: 1px solid whitesmoke;
    background-color: black;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
    margin: 10px;
  }

  /* feed */
  .feed {
    margin: 0px;
    padding: 0px;
  }
  .gallery-item {
     display: flex;
     flex-direction: row-reverse;
    flex: wrap;
    justify-content: center;
  }
  .yellow{
    margin: 0px;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 65px;
    width: 1000px;
    margin-left: 0px;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-content: space-around;
    align-items: center;
  }
  .gallery-image {
    width: 275px;
    height: 300px;
    object-fit: cover;
    border-radius: 5%;
    margin: 10px;
    padding: 0px 10px;
    border-radius: 35px 35px 35px 35px;
    -webkit-border-radius: 35px 35px 35px 35px;
    -moz-border-radius: 35px 35px 35px 35px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: black;
  }
  
  .gallery-image:hover {
    transform: scale(1.1);
  }
  .image-container {
  position: relative;
}
.image-container img{
  display: block;
  max-width: 100%;
  height: auto;
}

.delete-btn::after {
  content: "...";
  font-size: 75px;
  position: absolute;
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%);
  color: red;
  opacity: 0;
  transition: opacity 0.0.1s ease-in-out;
}

.delete-btn:hover::after {
  opacity: 1;
  cursor: pointer;
}

</style>