<h1 style="color: whitesmoke;">WELCOME INTO THE <span class="titre">SNEAKER</span> WORLD</h1>
<br>
<div class="container" id="container">

		<div class="form-container sign-in-container">
			<form action="/register" method="POST" enctype="application/x-www-form-urlencoded">

				<%- include ("partials/messages") %>

				<h1>Register</h1>
				<span>or use your account</span>
			<input type="name"
				id="name"
				name="name"
				placeholder="Enter Name" 
				value="<%= typeof name != 'undefined' ? name : '' %>" />

			<input type="email" id="email"
				name="email"
				class="form-control"
				placeholder="Enter Email"
				value="<%= typeof email != 'undefined' ? email : '' %>" />

			<input type="password"
            	id="password"
            	name="password"
            	class="form-control"
           		placeholder="Create Password" 
				   value="<%= typeof password != 'undefined' ? password : '' %>" />

			<input type="password"
            	id="password2"
            	name="password2"
            	class="form-control"
            	placeholder="Confirm Password" 
				value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
<br>
				<button type="submit">
					Register
				</button>
			</form>
		</div>
	
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-right">
					<h1>What's up, <span class="titre">Sneaker </span>Friend</h1>
					<p> click on the button if you already have an account </p>
					<a href="http://localhost:3000/login">
						<button class="ghost" id="signUp">login</button>
					</a>
					
				</div>
			</div>
		</div>
	
	</div>


  <style>
	
    @import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
    
    * {
      box-sizing: border-box;
    }
    
    body {
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-family: 'Montserrat', sans-serif;
      height: 100vh;
      margin: -20px 0 50px;
    }
    
    h1 {
      font-weight: bold;
      margin: 0;
      text-align: center;
    }
    .titre{
      color: rgb(210, 42, 42);
      font-size: 2rem;
    }
    h2 {
      text-align: center;
    }
    
    p {
      font-size: 14px;
      font-weight: 100;
      line-height: 20px;
      letter-spacing: 0.5px;
      margin: 20px 0 30px;
    }
    
    span {
      font-size: 15px;
    }
    
    a {
      color: #333;
      font-size: 14px;
      text-decoration: none;
      margin: 15px 0;
    }
    
    button {
      border-radius: 20px;
      border: 1px solid black;
      background-color: black;
      color: #FFFFFF;
      font-size: 12px;
      font-weight: bold;
      padding: 12px 45px;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: transform 80ms ease-in;
    }
    
    button:active {
      transform: scale(0.95);
    }
    
    button:focus {
      outline: none;
    }
    
    button.ghost {
      background-color: transparent;
      border-color: #FFFFFF;
    }
    
    form {
      background-color: #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0 50px;
      height: 100%;
      text-align: center;
      border-radius: 2%;
    }
    
    input {
      background-color: #eee;
      border: none;
      padding: 12px 15px;
      margin: 8px 0;
      width: 100%;
    }
    
    .container {
      
      position: relative;
      overflow: hidden;
      width: 744px;
      max-width: 100%;
      min-height: 480px;
    }
    
    .form-container {
      position: absolute;
      top: 0;
      height: 100%;
      transition: all 0.6s ease-in-out;
    }
    
    .sign-in-container {
      left: 0;
      width: 50%;
      z-index: 2;
    }
    
    .container.right-panel-active .sign-in-container {
      transform: translateX(100%);
    }
    
    .sign-up-container {
      left: 0;
      width: 50%;
      opacity: 0;
      z-index: 1;
    }
    
    .container.right-panel-active .sign-up-container {
      transform: translateX(100%);
      opacity: 1;
      z-index: 5;
      animation: show 0.6s;
    }
    
    @keyframes show {
      0%, 49.99% {
        opacity: 0;
        z-index: 1;
      }
      
      50%, 100% {
        opacity: 1;
        z-index: 5;
      }
    }
    
    .overlay-container {
      position: absolute;
      top: 0;
      left: 50%;
      width: 50%;
      height: 100%;
      overflow: hidden;
      transition: transform 0.6s ease-in-out;
      z-index: 100;
    }
    
    .container.right-panel-active .overlay-container{
      transform: translateX(-100%);
    }
    
    .overlay {
      background: rgb(6,6,6);
      background: -moz-radial-gradient(circle, rgba(6,6,6,1) 0%, rgba(141,142,143,1) 100%);
      background: -webkit-radial-gradient(circle, rgba(6,6,6,1) 0%, rgba(141,142,143,1) 100%);
      background: radial-gradient(circle, rgba(6,6,6,1) 0%, rgba(141,142,143,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#060606",endColorstr="#8d8e8f",GradientType=1);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0 0;
      color: #FFFFFF;
      position: relative;
      left: -100%;
      height: 100%;
      width: 200%;
      transform: translateX(0);
      transition: transform 0.6s ease-in-out;
      border-radius: 2%;
    }
    
    .container.right-panel-active .overlay {
        transform: translateX(50%);
    }
    
    .overlay-panel {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0 40px;
      text-align: center;
      top: 0;
      height: 100%;
      width: 50%;
      transform: translateX(0);
      transition: transform 0.6s ease-in-out;
    }
    
    .overlay-left {
      transform: translateX(-20%);
    }
    
    .container.right-panel-active .overlay-left {
      transform: translateX(0);
    }
    
    .overlay-right {
      right: 0;
      transform: translateX(0);
    }
    
    .container.right-panel-active .overlay-right {
      transform: translateX(20%);
    }
    
    .social-container {
      margin: 20px 0;
    }
    
    .social-container a {
      border: 1px solid #DDDDDD;
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin: 0 5px;
      height: 40px;
      width: 40px;
    }
    
    footer {
      
      color: red;
      font-size: 14px;
      bottom: 0;
      position: fixed;
      left: 0;
      right: 0;
      text-align: center;
      z-index: 999;
    }
    
    footer p {
      margin: 10px 0;
    }
    </style>